textarea {
    min-height: 400px;
}

.isread > a {
    background-color: rgb(197, 195, 195);
}

.unread > a {
    background-color: white;
}

ul.list-group {
    list-style: none; /* Убираем маркеры (bullet points) у списка */
    padding: 0; /* Убираем отступы у списка */
}